.body #header{
    background-color: lavender;
    color: blueviolet;
}
#header2, #description, #ingre, #instru {
    background-color: #00DCFF;
    color: black;
 }
.body2 
{
    text-align: center;
}
#ul-list{
     list-style-position:inside;
}
#picture1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#list2 {
    background-color: orangered;
    color: black;
    font-weight: 800;
}
.body {
    text-align: center;
}
.list{
    list-style: decimal;
    
}

