.body #header{
    background-color: lavender;
    color: blueviolet;
}
#header2, #description, #ingre, #instru {
    background-color: #00DCFF;
    color: black;
 }
.body2, .body3, .body4
{
    text-align: center;
    font-family: "Brush Script MT", Georgia, sans-serif;
}
#ul-list{
     list-style-position:inside;
}
#picture1, #pic2, #pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#list2 {
    background-color: orangered;
    color: black;
    font-weight: 800;
}
.body {
    text-align: center;
}
.list{
    list-style: decimal;
    
}
#header3, #description-2, #instru2, #ingre2{
    background-color: darkorchid;
    color:cornsilk;
}
#header4, #ingre3, #instru3 {
    background-color: lightgreen;
    color: palevioletred;
}

